* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
}

:root {
  --first-color: #f9fafc;
  --second-color: #ffffff;
  --third-color: #003282;
  --fourth-color: #1ebba1;
  --fifth-color: #ffd900;

  --light-blue-color: #096bcb;

  --light-border-color: #f8f9fb;
  --dark-border-color: #f3f6f9;

  --general-shadow: 0px 0px 5px rgb(232 232 232 / 0.5);

  --main-font-color: #c3cbe2;
  --bold-font-color: #999999;
  --sub-title-font-color: #99aac5;

  --unactive-color: #eef1f7;

  --navbar-height: 5rem;
  --footer-height: 3rem;

  --max-width-expand: 2200px
}

body {
  background-color: var(--first-color);
}

@media screen and (max-width: 650px) {
  html {
    
  }
}
 
