* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato',
  sans-serif;
;
}

:root {
  --first-color: #F9FAFC;
  --second-color: #FFFFFF;
  --third-color: #003282;
  --fourth-color: #1EBBA1;
  --fifth-color: #FFD900;

  --light-border-color: #F8F9FB;
  --dark-border-color: #F3F5F9;


  --main-font-color: #C3CBE2;
  --bold-font-color: #999999;
  --sub-title-font-color: #99AAC5;
  
  --navbar-height: 70px;
  --footer-height: 50px;
}

body {
  background-color: var(--first-color);
}