body.home-layout {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: var(--navbar-height) auto auto;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
}

body.groups-layout {
  display: grid;
  grid-template-columns: var(--group-sidebar-width) auto var(--group-sidebar-width);
  grid-template-rows: var(--navbar-height) auto auto;
  grid-template-areas:
    'header header header'
    'sidebar-left content sidebar-right'
    'footer footer footer';
}

@media screen and (max-width: 1120px) {
  body.groups-layout {
    grid-template-columns: var(--group-sidebar-width) auto;
    grid-template-areas: 'header header' 'sidebar-left content' 'footer footer';
  }
}

@media screen and (max-width: 920px) {
  body.groups-layout {
    grid-template-columns: auto;
    grid-template-areas: 'header' 'content' 'footer';
  }
}
@media screen and (max-width: 800px) {
  body.home-layout {
    grid-template-columns: auto;
    grid-template-areas: 'header' 'content' 'footer';
  }
}
